<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask App</title>
  <style>
    body {
      text-align: center;
    }
    input {
      margin: 10px;
    }
  </style>
</head>
<body>
    <h3>あなたの名前を教えてください</h3><br>
    <form action="/response"  method="POST" accept-charset="utf-8">
      <input type="text" name="username" placeholder="Enter your name here." required><br>
      <input type="submit" value="送信">
    </form>
</body>
</html>
